.img-container {
    background-size: cover;
    width: auto;
    height: 536px;
    background-image: url("../images/export.jpg");
    background-position: center;
    text-align: center;
}
.img-container h1{
    position: relative;
    top: 495px;

}
body{
    background-color: beige;
}
